


body{
    background-color: whitesmoke;
}


h1{
    text-align: center;
}

h5{
    margin: 0 auto;
}

.data p{
    font-size: 1.5em;
    text-align: center;
    margin-top: 12px;
}

.metrics{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

.data{
    border: 1px solid black;
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #c9eb86;
    box-shadow: 8px 8px 0px 0px rgb(58, 55, 55);
}

.text-box .text{
    text-align: center;
    
}

.writing-area{
    margin-top: 20px;
    
}

.writing-box{
    width: 800px;
    margin: 0 auto;
}

#type-box{
    background-color: beige;
}

.text-display{
    margin: 0 auto;
    width: 40%;
    /* height: 50px; */
    background-color: #BBD686;
    box-shadow: 8px 8px 1px 1px rgb(58, 55, 55);
}

.fail{
    color: red;
}




/* CSS */
.button-21 {
  align-items:center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-left: 50%;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
